/* login container */
.box-area{
    width: 1000px;
    height: 550px;
    border-radius: 3px;
}

.form-control{
    border-radius: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 90%;

}

.box{
    width: 340px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box1{
    width: 340px;
    height: 330px;
    padding-top:  25px;
    background: #F8F8F8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* left box */

/* right box */
